name: Build APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Setup Java 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '17'

      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip wget build-essential

      - name: Install Python packages
        run: |
          python -m pip install --upgrade pip
          pip install buildozer cython==0.29.19 virtualenv setuptools

      - name: Setup Android SDK
        run: |
          mkdir -p $HOME/android-sdk/cmdline-tools/latest

          wget https://dl.google.com/android/repository/commandlinetools-linux-10406996_latest.zip -O sdk.zip

          unzip sdk.zip -d $HOME/android-sdk/cmdline-tools/latest

          export ANDROID_SDK_ROOT=$HOME/android-sdk
          export PATH=$PATH:$ANDROID_SDK_ROOT/cmdline-tools/latest/bin

          yes | sdkmanager --sdk_root=$ANDROID_SDK_ROOT \
          "platform-tools" \
          "platforms;android-31" \
          "build-tools;31.0.0"

      - name: Clean Buildozer cache
        run: |
          buildozer android clean || true

      - name: Build APK
        run: |
          buildozer android debug
