name: Build APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Setup Java 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '17'

      - name: Install system packages
        run: |
          sudo apt update
          sudo apt install -y git zip unzip curl wget build-essential

      - name: Install Python tools
        run: |
          python -m pip install --upgrade pip
          pip install buildozer cython==0.29.19 setuptools virtualenv

      - name: Setup Android SDK tools
        run: |
          mkdir -p $HOME/android-sdk
          wget https://dl.google.com/android/repository/commandlinetools-linux-10406996_latest.zip
          unzip commandlinetools-linux-*.zip -d $HOME/android-sdk

          yes | $HOME/android-sdk/cmdline-tools/bin/sdkmanager \
          "platform-tools" \
          "platforms;android-31" \
          "build-tools;31.0.0"

      - name: Build APK
        run: |
          buildozer android clean
          buildozer android debug
