name: Build APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install system dependencies
      run: |
        sudo apt update
        sudo apt install -y openjdk-17-jdk git zip unzip

    - name: Install Python packages
      run: |
        pip install --upgrade pip
        pip install buildozer cython==0.29.19

    - name: Build APK
      run: |
        buildozer android debug
